In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('SaratogaHouses.csv')

In [3]:
x = dataset['centralAir']

In [4]:
pd.head

AttributeError: 'module' object has no attribute 'head'

In [5]:
pd.head()

AttributeError: 'module' object has no attribute 'head'

In [6]:
dataset.head()

,Unnamed: 0,price,lotSize,age,landValue,livingArea,pctCollege,bedrooms,fireplaces,bathrooms,rooms,heating,fuel,sewer,waterfront,newConstruction,centralAir
0,1,132500,0.09,42,50000,906,35,2,1,1.0,5,electric,electric,septic,No,No,No
1,2,181115,0.92,0,22300,1953,51,3,0,2.5,6,hot water/steam,gas,septic,No,No,No
2,3,109000,0.19,133,7300,1944,51,4,1,1.0,8,hot water/steam,gas,public/commercial,No,No,No
3,4,155000,0.41,13,18700,1944,51,3,1,1.5,5,hot air,gas,septic,No,No,No
4,5,86060,0.11,0,15000,840,51,2,0,1.0,3,hot air,gas,public/commercial,No,Yes,Yes

In [7]:
pd.unique(dataset['centralAir'])

array(['No', 'Yes'], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
encoder = LabelEncoder()

In [13]:
x[:-1] = encoder.fit_transform(x[:-1])

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
x[:-1]

0       0
1       0
2       0
3       0
4       1
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      1
18      0
19      0
20      0
21      0
22      1
23      0
24      0
25      0
26      0
27      0
28      0
29      1
       ..
1697    0
1698    1
1699    1
1700    0
1701    1
1702    0
1703    1
1704    1
1705    0
1706    1
1707    0
1708    0
1709    0
1710    0
1711    1
1712    0
1713    0
1714    1
1715    0
1716    0
1717    0
1718    0
1719    0
1720    1
1721    0
1722    0
1723    0
1724    0
1725    0
1726    0
Name: centralAir, Length: 1727, dtype: object

In [16]:
fuel = dataset['fuel'].values

In [17]:
pd.unique(fuel)

array(['electric', 'gas', 'oil'], dtype=object)

In [18]:
fuel = encoder.fit_transform(fuel)

In [19]:
fuel[:20]

array([0, 1, 1, 1, 1, 1, 2, 2, 0, 1, 2, 1, 0, 1, 2, 1, 2, 1, 2, 2])

In [21]:
from sklearn.preprocessing import OneHotEncoder
fuel = fuel.reshape(-1,1)
oneHot = OneHotEncoder()
fuel = oneHot.fit_transform(fuel)

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [22]:
fuel

<1728x3 sparse matrix of type '<type 'numpy.float64'>'
	with 1728 stored elements in Compressed Sparse Row format>

In [23]:
fuel.toarray()

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])